@font-face {
  font-family: "Revive80Phatt";
  src: url("./fonts/Revive80Phatt.otf") format("opentype"),
    url("./fonts/Revive80Phatt.woff") format("woff"),
    url("./fonts/Revive80Phatt.woff2") format("woff2"),
    url("./fonts/Revive80Phatt.eot") format("embedded-opentype"),
    url("./fonts/Revive80Phatt.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  background: black;
  color: white;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
