@import "./base.css";

#app {
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 300;
}

p {
  letter-spacing: -1px;

  @media (min-width: 1024px) {
   
  }
}

@media (min-width: 1024px) {
}

.headline-l {
  font-size: 2.4em;
  font-weight: 600;

  @media (min-width: 1024px) {
    font-size: 3.2em;
  }
}
.headline-m {
  font-size: 2em;

  @media (min-width: 1024px) {
    font-size: 2.6em;
  }
}
.headline-s {
  font-size: 1.2em;

  @media (min-width: 1024px) {
    font-size: 2em;
  }
}

.flipped {
  transform: scaleX(-1);
  display: inline-block;
}
