@import "./base.css";

@font-face {
  font-family: "Revive80Phatt";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Revive80Phatt.otf"), url("/fonts/Revive80Phatt.otf") format("otf"),
    url("/fonts/Revive80Phatt.otf") format("otf");
}

#app {
  font-family: "Lexend Zetta", sans-serif;
  font-weight: 300;
  /*   background-color: #181818;
  color: white; */

  @media (min-width: 1024px) {
    padding: 2rem;
  }
}

p {
  font-size: 18px;

  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
}

.headline-l {
  font-size: 2.4em;
  font-weight: 600;

  @media (min-width: 1024px) {
    font-size: 3.2em;
  }
}
.headline-m {
  font-size: 2em;

  @media (min-width: 1024px) {
    font-size: 2.6em;
  }
}
.headline-s {
  font-size: 1.2em;

  @media (min-width: 1024px) {
    font-size: 2em;
  }
}

.flipped {
  transform: scaleX(-1);
  display: inline-block;
}
